@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: local('Rajdhani'), url(../Averta_Standard/AvertaStd-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Avenir-regular-bold';
    src: local('Rajdhani'), url(../Averta_Standard/AvertaStd-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Avenirregular';
    src: local('Rajdhani'), url(../Averta_Standard/AvertaStd-Regular.ttf) format('truetype');
  }
  html {
    width: 100%;
    height: 100%;
    background-color:#121212;
  }
  body{
    background-color: #23272F;
    font-family: 'Avenir';
}
.show-hover{
    display: none;
    }
   .form-control {
        background-color: #343A46 !important ;
        border-color:#8F9094 !important;
       color: white !important;
    }
    .onHover:hover .show-hover {
    display: block;
    }
    
  

.success-animation { margin:150px auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.failedmark{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: red;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px red;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #1A1E23 ;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}
tr:nth-child(even){
    background-color: #343a46b6;
}

/* Dual Ring */
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  